@import 'node_modules/locomotive-scroll/dist/locomotive-scroll';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: clip;
    
}


/* The scrollbar track */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Hide scrollbar for Webkit browsers */
body::-webkit-scrollbar {
    display: none;
}