@import 'node_modules/locomotive-scroll/dist/locomotive-scroll';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: clip;
    
}

.noiseOverlay {
    background-image: url('/images/noise.png');
    background-repeat: repeat-x repeat-y;
    mix-blend-mode: overlay;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 6;
    opacity: 0.05
}

/* The scrollbar track */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
    width: 10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Hide scrollbar for Webkit browsers */
