@import 'node_modules/locomotive-scroll/dist/locomotive-scroll';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: clip;
    
}

.scrollable-content::-webkit-scrollbar * {
    background:transparent;
}
.scrollable-content::-webkit-scrollbar-thumb {
    background:#999 !important;
}